<log4net>
  <root>
    <level value="ALL" /> <!--Es decir, Debug,Info,Warn,Error,Fatal-->
    <appender-ref ref="console" /><!--Para que muestre el log de error por consola-->
    <appender-ref ref="file" /><!--Para que muestre el log de error en un fichero-->
  </root>
  <appender name="console" type="log4net.Appender.ConsoleAppender"><!--Para que muestre el log de error por consola-->
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %level %logger - %message%newline" />
    </layout>
  </appender>
  <appender name="file" type="log4net.Appender.RollingFileAppender"><!--Para que muestre el log de error en un fichero-->
    <file value="ErrorLog.txt" /><!--Nombre del fichero-->
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="5" />
    <maximumFileSize value="10MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
    </layout>
  </appender>
</log4net>